

.wtf{
    margin-top: 10px;
    background-color:darkorchid;
}


h1{
    font-size: 60px;
    font-family: 'Lobster', 'cursive';
    margin-left: 40px;
    margin-top: 20px;
    color: aliceblue;
}


.cabeçalho ul{
    background-color:cornflowerblue;
    text-align: center;
}


.menu {
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-flex;
    text-align: center;
}


.menu a{
    font-family: 'Ysabeau', sans-serif;
    text-decoration: none;
    font-size: 30px;
    padding-left: 90px;
    text-align: left;
    color: aliceblue;
}


main{
    line-height: 50px;
}


.esp{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: brown;
    color: antiquewhite;
    border-radius: 5%;
}


footer{
    margin-bottom: 0px;
    font-family: 'Ysabeau', sans-serif;
}

footer a {
    text-decoration: none;
}


body{
    background-color: bisque;
}