.wtf{
    margin-top: 10px;
    background-color:brown;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}


h1{
    font-size: 60px;
    font-family: 'Lobster', 'cursive';
    margin-left: 40px;
    margin-top: 20px;
    color: white;
}


.cabeçalho ul{
    background-color: rgb(28,28,28);
    text-align: center;
}


.menu {
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-flex;
    text-align: center;
}


.menu a{
    font-family: 'Ysabeau', sans-serif;
    text-decoration: none;
    font-size: 30px;
    padding-left: 90px;
    text-align: left;
    color:burlywood;
}


main{
    line-height: 50px;
}


.esp{
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40%;
    background-color: rgb(116, 28, 28);
    color: antiquewhite;
    border-radius: 20px;
}


.esp img{
    display:inline;
} 


.esp p{
    display:inline-block;
    margin-left: 5%;
    position: relative;
    bottom: 150px;
}


.video {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40%;
    background-color:sienna;
    border-radius: 20px;
}


.video iframe{
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}


.contato {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40%;
    background-color: maroon;
    border-radius: 20px;
    color: bisque;
}


.contato a {
    text-decoration: none;
    color: bisque;
}


footer{
    text-align: center;
    margin: 40px;
    margin-bottom: 0px;
    font-family: 'Ysabeau', sans-serif;
    background-color: rgb(28,28,28);
    padding: 40px 10px;
    color: rgb(211,211,211);
}


footer a {
    color: rgb(211,211,211);
}


body{
    background-color: bisque;
}


/*width é até one o texto/conteúdo vai*/

/* tabela de cores CSS: https://celke.com.br/artigo/tabela-de-cores-html-nome-hexadecimal-rgb */